window.unified:not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized):not(.fullscreen):not(.solid-csd),
window.unified:not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized):not(.fullscreen):not(.solid-csd) > decoration,
window.unified:not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized):not(.fullscreen):not(.solid-csd) > decoration-overlay {
  border-radius: 8px;
}

window.unified > decoration-overlay {
  box-shadow: inset 0 1px alpha(white, 0.8);
}

window.unified.dark > decoration-overlay {
  box-shadow: inset 0 1px alpha(white, 0.065);
}

window.unified headerbar {
  border-radius: 0;
  box-shadow: none;
}

titlebar, titlebar * {
  -GtkWidget-window-dragging: true;
}

.my-circular {
  border-radius: 100px;
  -gtk-outline-radius: 100px;
  min-width: 48px;
  min-height: 48px;
  margin: 0;
  padding: 0;
}

